$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;

$color-gradient: linear-gradient($color-secondary, $color-primary);

$bgcolor-primary: #F6F6F6;
$bgcolor-secondary: #EAEAEA;
$bgcolor-footer: #353535;

$iconcolor-primary: #7E7E7E;

//$shadow: 0px 5px 15px -4px #CECECE;
$shadow: 0px 10px 17px -5px #DDDDDD;


$police-title: Shrikhand; 
$police-txt: Roboto;
$police-txt-bold: Roboto-bold;