button{
    background: $color-gradient;
    color: white;
    font-size: 19px;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    border: none;
    font-weight: 500;
    box-shadow: $shadow;
    &:hover{
        box-shadow: $shadow-dark;
        background: $color-gradient-light;
        transition: all ease-in 0.3s;
    }
}