footer{
    background-color: $bgcolor-footer;
    color: white;
    padding: 2% 0 5% 0;
    .icon{
        color: white;
        height: 15px;
        width: 15px;
        margin-right: 4%;
    }
    h1{
        font-size: 19px;
        font-weight: 200;        
        margin-left: 10%;
    }
    a{
        color: white;
    }
    ul{
        font-size: 17px;
        font-weight: 500;
    }
    li{
        margin-bottom: 1%;
    }
}