footer{
    background-color: $bgcolor-footer;
    color: white;
    padding: 2% 0 5% 0;
    .icon{
        color: white;
        height: 15px;
        width: 15px;
        margin-right: 4%;
    }
    h4{
        font-size: 19px;
        font-weight: 200;        
        margin-left: 10%;
        font-family: $police-title;
    }
    a{
        color: white;
    }
    ul{
        font-size: 17px;
        font-weight: 500;
    }
    li{
        margin-bottom: 1%;
    }
}

//Version tablette

@include tablet{
    footer{
        ul{
            display: flex;
            justify-content: space-between;
            margin-right: 5%;
        }
        li{
            white-space: nowrap;
        }
        .icon{
            margin-right: 10%;
        }
    }
}

//Version desktop

@include desktop{
    footer{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 2% 0 1% 0;
        h1{
            margin: 0 0 1% 3%;
        }
        ul{
            display: flex;
            justify-content: space-around;
            margin-right: 5%;
            width: 100%;
        }
        li{
            white-space: nowrap;
        }
        .icon{
            margin-right: 10%;
        }
    }
}