header{
    display: flex;
    flex-wrap: wrap;
    .logo{
        width: 40%;
        margin: auto;
        padding: 5% 0 3% 0;
        justify-content: center;
    }
    &::after{
        content: "";
        height: 1px;
        width: 100%;
        box-shadow: 0px 3px 6px rgba(5, 5, 5, 0.39);
    }
    //Flèche des pages menu
    .icon{
        color: $bgcolor-footer;
        position: absolute;
        height: 22px;
        width: 22px;
        margin: 22px 0 0 5%;
    }
}