html {
  /* Set border-box as the global default */
  box-sizing: border-box;
  font-family: Raleway-VariableFont_wght;
}

*, *:before, *:after {
  /* Allow each element to override */
  box-sizing: inherit;
}

@font-face {
  font-family: Roboto;
  src: url(~/../../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-bold;
  src: url(~/../../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Shrikhand;
  src: url(~/../../fonts/Shrikhand-Regular.ttf);
}
h1 {
  font-family: Shrikhand;
}

p, button {
  font-family: Roboto;
}

h2, h3 {
  font-family: Roboto-bold;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 19px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.icon {
  color: #7E7E7E;
  height: 20px;
  width: 20px;
}

header {
  display: flex;
  flex-direction: column-reverse;
}
header .logo {
  width: 40%;
  margin: auto;
  padding: 5% 0 2% 0;
  justify-content: center;
}
header::before {
  content: "";
  height: 1px;
  width: 100%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.39);
}

footer {
  background-color: #353535;
  color: white;
  padding: 2% 0 5% 0;
}
footer .icon {
  color: white;
}
footer h1 {
  font-size: 15px;
  font-weight: 200;
  margin-left: 5%;
}

button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 19px;
  border-radius: 30px;
  height: 60px;
  width: 250px;
  border: none;
  font-weight: 500;
}

/*Localisation*/
#localisation {
  background-color: #EAEAEA;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
#localisation .fa-location-dot {
  padding-right: 15px;
}

/*Description Ohmyfood*/
#description_ohmyfood {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 10%;
}
#description_ohmyfood h2 {
  width: 70%;
  margin-bottom: 0;
}
#description_ohmyfood p {
  width: 80%;
  margin-top: 2%;
}

/*Fonctionnement Ohmyfood*/
.fonctionnement {
  padding-bottom: 10%;
}
.fonctionnement h2 {
  margin-left: 5%;
}
.fonctionnement__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fonctionnement__card {
  display: flex;
  background-color: #F6F6F6;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  height: 75px;
  width: 87%;
  margin-bottom: 4%;
  box-shadow: 0px 5px 15px -4px #CECECE;
}
.fonctionnement__card p {
  margin: -2%;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 3px;
  text-align: center;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
}
.fonctionnement__card .icon {
  margin-left: 8%;
}
.fonctionnement__card h3 {
  margin-left: 6%;
}

/*Restaurants*/
.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 10%;
}
.restaurants h2 {
  margin: 0 0 5% 5%;
  padding-top: 10%;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__card {
  display: flex;
  flex-flow: wrap;
  border-radius: 25px;
  width: 350px;
  margin: auto;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: 0px 5px 15px -4px #CECECE;
}
.restaurants__card h3 {
  margin-bottom: 1%;
  font-size: 18px;
}
.restaurants__card p {
  margin-top: 1%;
  font-size: 17px;
}
.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 350px;
  height: 180px;
  margin: auto;
}
.restaurants__card .icon {
  color: black;
  margin: auto;
  height: 25px;
  width: 25px;
  align-self: flex-end;
}
.restaurants__card .icon--gradient {
  display: none;
}
.restaurants__card--txt {
  flex-direction: column;
  margin-left: 5%;
  width: 75%;
}
.restaurants__card--new {
  position: absolute;
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 7px 12px 7px 12px;
  font-weight: bold;
  margin: 50% 0 0 60%;
  border-radius: 2px;
  box-shadow: 0px 5px 15px -4px #CECECE;
}/*# sourceMappingURL=main.css.map */