html {
  /* Set border-box as the global default */
  box-sizing: border-box;
  font-family: Raleway-VariableFont_wght;
}

*, *:before, *:after {
  /* Allow each element to override */
  box-sizing: inherit;
}

@font-face {
  font-family: Roboto;
  src: url(~/../../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-bold;
  src: url(~/../../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Shrikhand;
  src: url(~/../../fonts/Shrikhand-Regular.ttf);
}
h1 {
  font-family: Shrikhand;
}

p, button, ul, h4, div {
  font-family: Roboto;
}

h2, h3 {
  font-family: Roboto-bold;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 19px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.icon {
  color: #7E7E7E;
  font-size: 20px;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
header .logo {
  width: 40%;
  margin: auto;
  padding: 5% 0 3% 0;
  justify-content: center;
}
header::after {
  content: "";
  height: 1px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(5, 5, 5, 0.39);
}
header .icon {
  color: #353535;
  position: absolute;
  height: 22px;
  width: 22px;
  margin: 22px 0 0 5%;
}

@media screen and (min-width: 672px) and (max-width: 990px) {
  header .logo {
    width: 250px;
    height: auto;
  }
  header .icon {
    font-size: 30px;
    margin: 50px 0 0 10%;
  }
}
@media screen and (min-width: 990px) {
  header .logo {
    width: 240px;
    height: auto;
    padding: 2% 0 2% 0;
  }
  header .icon {
    font-size: 30px;
    margin: 35px 0 0 10%;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 2% 0 5% 0;
}
footer .icon {
  color: white;
  height: 15px;
  width: 15px;
  margin-right: 4%;
}
footer h1 {
  font-size: 19px;
  font-weight: 200;
  margin-left: 10%;
}
footer a {
  color: white;
}
footer ul {
  font-size: 17px;
  font-weight: 500;
}
footer li {
  margin-bottom: 1%;
}

@media screen and (min-width: 672px) and (max-width: 990px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
  }
  footer li {
    white-space: nowrap;
  }
  footer .icon {
    margin-right: 10%;
  }
}
@media screen and (min-width: 990px) {
  footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2% 0 1% 0;
  }
  footer h1 {
    margin: 0 0 1% 3%;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    width: 100%;
  }
  footer li {
    white-space: nowrap;
  }
  footer .icon {
    margin-right: 10%;
  }
}
.loader::before {
  content: "";
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-animation: fadeout 4s forwards;
          animation: fadeout 4s forwards;
}
.loader::after {
  content: "";
  width: 80px;
  height: 80px;
  position: fixed;
  margin: -40px 0 0 -40px;
  top: 50%;
  left: 50%;
  border: solid white 8px;
  border-bottom: solid transparent 8px;
  border-radius: 50%;
  z-index: 11;
  -webkit-animation: spin 3s linear forwards;
          animation: spin 3s linear forwards;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes fadeout {
  from {
    z-index: 10;
    opacity: 0.8;
  }
  to {
    z-index: -10;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    z-index: 10;
    opacity: 0.8;
  }
  to {
    z-index: -10;
    opacity: 0;
  }
}
button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 30px;
  height: 50px;
  width: 225px;
  border: none;
  font-weight: 500;
  box-shadow: 0px 10px 17px -5px #d4d4d4;
}
button:hover {
  box-shadow: 0px 10px 17px -5px #8f8f8f;
  background: linear-gradient(#ff93e1, #a16be0);
  transition: all ease-in 0.3s;
}

.icon-heart {
  color: black;
  margin: auto;
  font-size: 25px;
  align-self: flex-end;
  z-index: 1;
}
.icon-heart:hover {
  opacity: 0;
  transition: all 400ms ease-out;
}
.icon-heart:hover + .icon-heart--gradient {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 500ms ease-out;
}
.icon-heart--gradient {
  transform: scaleX(0);
  opacity: 0;
  z-index: 0;
  margin: 206.5px auto 20px 302.5px;
  position: absolute;
  font-size: 25px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

@media screen and (min-width: 990px) {
  .icon-heart--gradient {
    margin: 177px auto 20px 483px;
  }
}
/*Localisation*/
.localisation {
  background-color: #EAEAEA;
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: center;
  align-items: center;
}
.localisation__form {
  background-color: #EAEAEA;
  font-size: 19px;
  border: none;
}
.localisation__form::-moz-placeholder {
  color: black;
  font-weight: 500;
}
.localisation__form:-ms-input-placeholder {
  color: black;
  font-weight: 500;
}
.localisation__form::placeholder {
  color: black;
  font-weight: 500;
}
.localisation__form:focus {
  outline: none;
}
.localisation__form:focus::-moz-placeholder {
  color: transparent;
}
.localisation__form:focus:-ms-input-placeholder {
  color: transparent;
}
.localisation__form:focus::placeholder {
  color: transparent;
}
.localisation .fa-location-dot {
  padding-right: 15px;
  margin-left: 23%;
}

/*Description Ohmyfood*/
#description_ohmyfood {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 15%;
}
#description_ohmyfood h2 {
  width: 70%;
  margin: 10% 0 0 0;
}
#description_ohmyfood p {
  width: 80%;
  margin: 4% 0 8% 0;
}

/*Fonctionnement Ohmyfood*/
.fonctionnement {
  padding: 5% 0 15% 0;
  background-color: white;
}
.fonctionnement h2 {
  margin-left: 5%;
}
.fonctionnement__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fonctionnement__card {
  display: flex;
  background-color: #F6F6F6;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  height: 75px;
  width: 350px;
  margin-bottom: 4%;
  box-shadow: 0px 10px 17px -5px #d4d4d4;
}
.fonctionnement__card:hover {
  background-color: #f2eafb;
  transition: all 0.4s ease-in-out;
}
.fonctionnement__card:hover > .icon {
  color: #9356DC;
}
.fonctionnement__card p {
  margin: -2%;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 3px;
  text-align: center;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
}
.fonctionnement__card .icon {
  margin-left: 8%;
}
.fonctionnement__card h3 {
  margin-left: 6%;
}

/*Restaurants*/
.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 10%;
}
.restaurants h2 {
  margin: 0 0 5% 5%;
  padding-top: 10%;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__card {
  display: flex;
  flex-flow: wrap;
  border-radius: 25px;
  width: 350px;
  margin: auto;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: 0px 10px 17px -5px #d4d4d4;
}
.restaurants__card h3 {
  margin-bottom: 1%;
  font-size: 18px;
}
.restaurants__card p {
  margin-top: 1%;
  font-size: 17px;
}
.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 350px;
  height: 180px;
  margin: auto;
}
.restaurants__card .icon-heart {
  margin: auto;
  align-self: flex-end;
}
.restaurants__card--txt {
  flex-direction: column;
  margin-left: 5%;
  width: 75%;
}
.restaurants__card--new {
  position: absolute;
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 7px 12px 7px 12px;
  font-weight: bold;
  font-size: 15px;
  margin: 13px 0 0 253px;
  border-radius: 2px;
  box-shadow: 0px 10px 17px -5px #d4d4d4;
}
.restaurants__card:hover {
  box-shadow: 0px 10px 17px -5px #8f8f8f;
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 672px) and (max-width: 990px) {
  .localisation .fa-location-dot {
    margin-left: 10%;
  }
  .container_description_fonctionnement {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    padding-bottom: 5%;
  }
  #description_ohmyfood {
    width: 50%;
    background-color: white;
    padding-bottom: 0;
  }
  #description_ohmyfood h2 {
    margin-bottom: 3%;
    width: 85%;
  }
  #description_ohmyfood p {
    font-size: 20px;
    width: 85%;
  }
  #description_ohmyfood button {
    width: 250px;
    height: 55px;
    font-size: 19px;
  }
  .fonctionnement {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .fonctionnement h2 {
    margin: 0 0 5% 0;
  }
  .restaurants {
    padding-bottom: 5%;
  }
  .restaurants h2 {
    padding-top: 5%;
  }
  .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__card {
    margin-bottom: 8%;
  }
}
@media screen and (min-width: 990px) {
  .localisation .fa-location-dot {
    margin-left: 5%;
  }
  .container_description_fonctionnement {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    padding-bottom: 3%;
  }
  #description_ohmyfood {
    width: 50%;
    background-color: white;
    padding-bottom: 0;
  }
  #description_ohmyfood h2 {
    margin-bottom: 1%;
    width: 85%;
    font-size: 23px;
  }
  #description_ohmyfood p {
    font-size: 19px;
    width: 85%;
    margin: 3% 0 5% 0;
  }
  #description_ohmyfood button {
    width: 240px;
    height: 50px;
    font-size: 17px;
  }
  .fonctionnement {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 3% 0 0 0;
  }
  .fonctionnement__container {
    flex-direction: column;
    align-items: center;
  }
  .fonctionnement__card {
    width: 500px;
    height: 55px;
  }
  .fonctionnement__card p {
    margin-right: 5%;
  }
  .fonctionnement__card .icon {
    font-size: 17px;
    margin-right: 10%;
  }
  .fonctionnement__card h3 {
    font-size: 16px;
  }
  .fonctionnement h2 {
    margin: 0 0 5% 17%;
    font-size: 20px;
  }
  .restaurants {
    padding-bottom: 3%;
  }
  .restaurants h2 {
    padding: 3% 0 0 0;
    font-size: 23px;
    margin: 0 0 3% 12%;
  }
  .restaurants__container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 7% 0 7%;
  }
  .restaurants__card {
    width: 550px;
  }
  .restaurants__card img {
    width: 550px;
    height: 150px;
  }
  .restaurants__card--new {
    margin: 13px 0 0 450px;
  }
}
.menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.menu .repas {
  background-color: #F6F6F6;
  position: relative;
  margin-top: -15%;
  padding: 3% 0 10% 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu .repas__titre {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.menu .repas__titre h1 {
  width: 80%;
  font-size: 27px;
  font-weight: 500;
}
.menu .repas__titre .icon-heart--gradient {
  position: absolute;
  font-size: 23px;
  margin: 0 0 2px 82.5%;
}
.menu .repas__categorie_plat {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 18px;
  margin-left: 5%;
}
.menu .repas__categorie_plat::after {
  content: "";
  border-bottom: solid #99E2D0 3px;
  width: 11%;
  padding-top: 1%;
}
.menu .repas__container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.menu .repas__card {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 3%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 10px 17px -5px #d4d4d4;
  -webkit-animation: plat-appear 2000ms backwards;
          animation: plat-appear 2000ms backwards;
}
.menu .repas__card--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu .repas__card--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu .repas__card--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu .repas__card--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.menu .repas__card--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu .repas__card--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.menu .repas__card--7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
.menu .repas__card--8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.menu .repas__card--9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
.menu .repas__card--10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu .repas__card h2 {
  font-size: 19px;
  width: 100%;
  margin: 3% 0 0 4%;
}
.menu .repas__card p {
  width: 82%;
  margin: 1% 3% 3% 4%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
}
.menu .repas__card__prix {
  width: 5%;
  font-weight: bold;
  margin-top: 1.5%;
}
.menu .repas button {
  margin: 10% auto 10% auto;
}

@-webkit-keyframes plat-appear {
  0% {
    opacity: 0;
    transform: translateY(99%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes plat-appear {
  0% {
    opacity: 0;
    transform: translateY(99%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 672px) and (max-width: 990px) {
  .menu img {
    height: 350px;
    -o-object-position: 75% 75%;
       object-position: 75% 75%;
  }
  .menu .repas {
    padding-bottom: 3%;
  }
  .menu .repas__titre {
    width: 85%;
    margin-left: 10%;
  }
  .menu .repas__titre .icon-heart--gradient {
    margin: 0 0 2px 75%;
  }
  .menu .repas__card {
    width: 85%;
  }
  .menu .repas__categorie_plat {
    margin-left: 10%;
  }
  .menu .repas__categorie_plat::after {
    width: 6%;
  }
  .menu .repas button {
    margin: 5% auto 5% auto;
  }
}
@media screen and (min-width: 990px) {
  .menu img {
    -o-object-position: 75% 75%;
       object-position: 75% 75%;
    height: 450px;
  }
  .menu .repas {
    padding: 2% 0 5% 0;
  }
  .menu .repas__container_all {
    display: flex;
    justify-content: center;
  }
  .menu .repas__container--withtitles {
    width: 30%;
  }
  .menu .repas__titre {
    margin-left: 10%;
  }
  .menu .repas__titre .icon-heart--gradient {
    margin: 0 0 2px 80.2%;
  }
  .menu .repas__card h2 {
    font-size: 17px;
  }
  .menu .repas__card p {
    font-size: 15px;
  }
  .menu .repas__card__prix {
    font-size: 15px;
  }
  .menu .repas button {
    margin: 3% auto 0 auto;
  }
}/*# sourceMappingURL=main.css.map */