
/*Localisation*/ 

.localisation{
    background-color: $bgcolor-secondary;
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    &__form{
        background-color: $bgcolor-secondary;
        font-size: 19px;
        border: none;
        &::placeholder{
            color: black;
            font-weight: 500;
        }
        &:focus{
            outline: none;
            &::placeholder{
                color: transparent;
            }
        }
    }
    .fa-location-dot{
        padding-right: 15px;
        margin-left: 20%;
    }
}

/*Description Ohmyfood*/ 
#description_ohmyfood{
    background-color: $bgcolor-primary;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 15%;
    h2{
        width: 70%;
        margin: 10% 0 0 0;
    }
    p{
        width: 80%;
        margin: 4% 0 8% 0;
    }
}

/*Fonctionnement Ohmyfood*/
.fonctionnement{
    padding: 5% 0 15% 0;
    background-color: white;
    h2{
        margin-left: 5%;
    }
    &__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__card{
        display: flex;
        background-color: $bgcolor-primary;
        flex-direction: row;
        align-items: center;
        border-radius: 20px;
        height: 75px;
        width: 350px;
        margin-bottom: 4%;
        box-shadow: $shadow;
        &:hover{
            background-color: lighten($color-primary, 35);
            transition: all 0.4s ease-in-out;
            > .icon{
                color: $color-primary;
            }
        }
        p {
            margin: -2%;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            padding: 3px;
            text-align: center;
            background-color: $color-primary;
            color: white;
            font-size: 14px;
        }
        .icon{
            margin-left: 8%;
        }
        h3{
            margin-left: 6%;
        }
    }
}

/*Restaurants*/ 

.restaurants{
    background-color: $bgcolor-primary;
    padding-bottom: 10%;
    h2{
        margin: 0 0 5% 5%;
        padding-top: 10%;
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    &__card{
        display: flex;
        flex-flow: wrap;
        border-radius: 25px;
        width: 350px;
        margin: auto;
        margin-bottom: 5%;
        background-color: white;
        box-shadow: $shadow;
        h3{
            margin-bottom: 1%;
            font-size: 18px;
        }
        p{
            margin-top: 1%;
            font-size: 17px;
        }
        img{
            object-fit: cover;        
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 350px;
            height: 180px;
            margin: auto;
        }
        .icon-heart{
            margin: auto;    
            align-self: flex-end;
        }       
        &--txt{
            flex-direction: column;
            margin-left: 5%;
            width: 75%;
        }
        &--new{
            position: absolute;
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 35);
            padding: 7px 12px 7px 12px;
            font-weight: bold;
            font-size: 15px;
            margin: 13px 0 0 253px;
            border-radius: 2px;
            box-shadow: $shadow;
        }
        &:hover{
            box-shadow: $shadow-dark;
            transition: all 0.4s ease-in-out;
        }
    }
}

//Version tablette 

@include tablet{
    .localisation{
        .fa-location-dot{
            margin-left: 10%;
        }
    }
    .container_description_fonctionnement{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: white;
        padding-bottom: 5%;
    }
    #description_ohmyfood{
        width: 50%;
        background-color: white;
        padding-bottom: 0;
        h2{
            margin-bottom: 3%;
            width: 85%;
        }
        p{
            font-size: 20px;
            width: 85%;
        }
        button{
            width: 250px;
            height: 55px;
            font-size: 19px;
        }
    }
    .fonctionnement{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
        h2{
            margin: 0 0 5% 0;
        }
    }
    .restaurants{
        padding-bottom: 5%;
        h2{
            padding-top: 5%;
        }
        &__container{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;     
        }
        &__card{
            margin-bottom: 8%;
        }
    }
}

//Version Dekstop

@include desktop{
    .localisation{
        .fa-location-dot{
            margin-left: 5%;
        }
    }
    .container_description_fonctionnement{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: white;
        padding-bottom: 3%;
    }
    #description_ohmyfood{
        width: 50%;
        background-color: white;
        padding-bottom: 0;
        h2{
            margin-bottom: 1%;
            width: 85%;
            font-size: 23px;
        }
        p{
            font-size: 19px;
            width: 85%;
            margin: 3% 0 5% 0;
        }
        button{
            width: 240px;
            height: 50px;
            font-size: 17px;
        }
    }
    .fonctionnement{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 3% 0 0 0;
        &__container{
            flex-direction: column;
            align-items: center;
        }
        &__card{
            width: 500px;
            height: 55px;
            p{
                margin-right: 5%;
            }
            .icon{
                font-size: 17px;
                margin-right: 10%;
            }
            h3{
                font-size: 16px;
            }
        }
        h2{
            margin: 0 0 5% 17%;
            font-size: 20px;
        }
    }
    .restaurants{
        padding-bottom: 3%;
        h2{
            padding: 3% 0 0 0;
            font-size: 23px;
            margin: 0 0 3% 12%;
        }
        &__container{
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 7% 0 7%;
        }
        &__card{
            width: 550px;
            img{
                width: 550px;
                height: 150px;
            }
            &--new{
                margin: 13px 0 0 450px;
            }
        }
    }
}