.menu{
    img{
        object-fit: cover;
        width: 100%;
    }
    .repas{
        background-color: $bgcolor-primary;
        position: relative;
        margin-top: -15%;
        padding: 3% 0 10% 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        &__titre{
            display: flex;
            align-items: center;
            margin-left: 5%;
            h1{
                width: 80%;
                font-size: 27px;
                font-weight: 500;
            }
            .icon-heart--gradient{
                position: absolute;
                font-size: 23px;
                margin: 0 0 2px 82.5%;
            }
        }
        //Titres entrée plat dessert
        &__categorie_plat{
            display: flex;
            flex-direction: column;
            font-weight: 100;
            font-size: 18px;
            font-family: $police-txt;
            margin-left: 5%;
            &::after{
                content: "";
                border-bottom: solid $color-tertiary 3px;
                width: 11%;
                padding-top: 1%;
            }
        }
        //Container des cards plats
        &__container{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        }
        &__card{
            background-color: white;
            border-radius: 20px;
            margin-bottom: 3%;
            width: 95%;
            height: 70px;
            display: flex;
            overflow: hidden;
            position: relative;
            box-shadow: $shadow;
            animation: plat-appear 2000ms backwards; 
            @for $i from 1 through 10{
                &--#{$i} {
                    animation-delay: 200ms * $i;
                }
            }
            &__text{
                flex-flow: column;
                width: 88%;
                white-space: nowrap;      
                text-overflow: ellipsis;  
                overflow: hidden;
                h3{
                    font-size: 19px;
                    margin: 12px 0 0 17px;
                    white-space: nowrap;      
                    text-overflow: ellipsis;  
                    overflow: hidden;
                }
                p{
                    margin: 4px 0 0 17px;  
                    white-space: nowrap;      
                    text-overflow: ellipsis;  
                    overflow: hidden;
                    font-size: 18px;
                }
            }
            &__prix{
                width: 10%;
                font-weight: bold;
                font-size: 17px;
                align-self: flex-end;
                margin: 0 2% 3% 0;
            }
            .fa-check{
                color: $color-tertiary;
                font-size: 18px;
                padding: 5px;
                border-radius: 50%;
                font-weight: bolder;
                background-color: white;
                position: absolute;
                margin: 21px 0 0 87.5%;
                z-index: 1;
                transform: translateX(99px) rotate(0);
                animation: check-reverse 1s both;
            }
            &:hover{
                > .fa-check{                    
                    animation: check 1s both;
                }
            }
            &::after{
                content: "";
                background-color: $color-tertiary;
                width: 0%;
                height: 70px;
                margin-right: -15px;
                transform-origin: right;
                animation: coche_verte-reverse 1s backwards;
            }
            &:hover::after{
                width: 25%;
                animation: coche_verte 1s both;
            }
        }
        button{
            margin: 10% auto 10% auto;      
        }
    }
}

//Version tablette 

@include tablet{
    .menu{
        img{
            height: 350px;
            object-position: 75% 75%;
        }
        .repas{
            padding-bottom: 3%;
            &__titre{
                width: 85%;
                margin-left: 10%;
                .icon-heart--gradient{
                    margin: 0 0 2px 75%;
                }
            }
            &__card{
                width: 85%;
                height: 80px;
                .fa-check{
                    margin: 25px 0 0 88%;
                    font-size: 22px;
                }
                &::after{
                    content: "";
                    height: 80px;
                }
                &__text{
                    margin: 4px 0 0 7px;
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 19px;
                        margin-top: 6px;
                    }
                }
            }
            &__categorie_plat{
                margin-left: 10%;
                font-size: 20px;
                &::after{
                    width: 7%;
                }
            }
            button{
                margin: 5% auto 5% auto;
            }
        }
    }
}

//Version desktop

@include desktop{
    .menu{
        img{
            object-position: 75% 75%;
            height: 450px;
        }
        .repas{
            padding: 2% 0 5% 0;
            &__container_all{
                display: flex;
                justify-content: center;
            }
            &__container{
                &--withtitles{
                    width: 30%;
                }
            }
            &__titre{
                margin-left: 10%;
                .icon-heart--gradient{
                    margin: 0 0 2px 80.2%;
                }
            }
            &__card{
                h3{
                    font-size: 17px;
                }
                p{
                    font-size: 15px;
                    margin-top: 7px;
                }
                &__prix{
                    font-size: 15px;
                }
            }
            button{
                margin: 3% auto 0 auto;
            }
        }
    }
}