.menu{
    img{
        object-fit: cover;
        width: 100%;
    }
    .repas{
        background-color: $bgcolor-primary;
        position: relative;
        margin-top: -15%;
        padding: 3% 0 10% 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        &__titre{
            display: flex;
            align-items: center;
            margin-left: 5%;
            h1{
                width: 80%;
                font-size: 27px;
                font-weight: 500;
            }
            .icon-heart--gradient{
                position: absolute;
                font-size: 23px;
                margin: 0 0 2px 82.5%;
            }
        }
        //Titres entrée plat dessert
        &__categorie_plat{
            display: flex;
            flex-direction: column;
            font-weight: 100;
            font-size: 18px;
            margin-left: 5%;
            &::after{
                content: "";
                border-bottom: solid $color-tertiary 3px;
                width: 11%;
                padding-top: 1%;
            }
        }
        //Container des cards plats
        &__container{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        }
        &__card{
            background-color: white;
            border-radius: 20px;
            margin-bottom: 3%;
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            box-shadow: $shadow;
            animation: plat-appear 2000ms backwards; 
            @for $i from 1 through 10{
                &--#{$i} {
                    animation-delay: 200ms * $i;
                }
            }
            h2{
                font-size: 19px;
                width: 100%;
                margin: 3% 0 0 4%;
            }
            p{
                width: 82%;
                margin: 1% 3% 3% 4%;   
                white-space: nowrap;      
                text-overflow: ellipsis;  
                overflow: hidden;
                font-size: 18px;
            }
            &__prix{
                width: 5%;
                font-weight: bold;
                margin-top: 1.5%;
            }
        }
        button{
            margin: 10% auto 10% auto;      
        }
    }
}

//Animation d'apparition des plats
@keyframes plat-appear {
    0% {
        opacity: 0;
        transform: translateY(99%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}    

//Version tablette 

@include tablet{
    .menu{
        img{
            height: 350px;
        }
        .repas{
            padding-bottom: 3%;
            &__titre{
                width: 85%;
                margin-left: 10%;
                .icon-heart--gradient{
                    margin: 0 0 2px 75%;
                }
            }
            &__card{
                width: 85%;
            }
            &__categorie_plat{
                margin-left: 10%;
                &::after{
                    width: 6%;
                }
            }
            button{
                margin: 5% auto 5% auto;
            }
        }
    }
}

//Version desktop

@include desktop{
    .menu{
        img{
            object-position: 75% 75%;
            height: 450px;
        }
        .repas{
            padding: 2% 0 5% 0;
            &__container_all{
                display: flex;
                justify-content: center;
            }
            &__container{
                &--withtitles{
                    width: 30%;
                }
            }
            &__titre{
                margin-left: 10%;
                .icon-heart--gradient{
                    margin: 0 0 2px 80.2%;
                }
            }
            &__card{
                h2{
                    font-size: 17px;
                }
                p{
                    font-size: 15px;
                }
                &__prix{
                    font-size: 15px;
                }
            }
            button{
                margin: 3% auto 0 auto;
            }
        }
    }
}